[build]
  command = "cd backend && npm install && cd ../netlify/functions && npm install && cd ../../frontend && yarn install && yarn build"
  publish = "frontend/dist/frontend"
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

